/*-----------------------------Обнуление---------------------------*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Poppins;
    color: #486958;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*------------------------------------------------------------------------------*/



/*---------СЛУЖЕБНЫЕ---------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*---------------------------------HEADER------------------------------------*/
.header {}

.header__container {
    display: flex;
    min-height: 180px;
    justify-content: space-between;
    font-weight: 800;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo {}

.header__logo-text {
    font-size: 25px;
    line-height: calc(35/25*100%);
    color: #58A9A5;
    display: inline-block;
}

.header__logo-img {
    margin-right: 10px;
}

.header__menu {
    flex: 0 1 50%;
    margin-left: 150px;
}

.menu {}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    font-size: 18px;
    line-height: calc(28/15*100%);
    flex: 0 1 25%;
    text-align: center;
}

.menu__link {
    color: #404242;
    font-weight: 400;
}

.menu__link:hover,
.menu__link_active {
    font-weight: 700;
    color: #58A9A5;
}

.menu__link::after {

    content: '';
    display: block;
    height: 4px;
    background: #ffffff;
    width: 35px;
    margin: 0 auto;
}

.menu__link:hover::after {

    content: '';
    display: block;
    height: 4px;
    background: #FEC62D;
    width: 35px;
    margin: 0 auto;
}

.header__button {
   max-width: 200px;
    background-color: #58A9A5;
    padding: 15px 65px;
    border-radius: 11.25px;
}

.header__button-sign-link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: calc(28/18*100%);
   
}

.header__button-sign-link:hover {
    background-color: #3c837f;
}

@media (max-width:970px) {
    .header__menu {
        flex: 0 1 100%;
        margin: 0;
    }
    .header__container {
        flex-wrap: wrap;}
    .menu__list {
        flex-wrap: nowrap;
        
    }

   /*  .menu__item {
        flex: 0 1 50%;
    } 
    .menu__item {
        flex: 1 1 100%;
    }
    .header__button-sign-link {
        margin-left: 10px;
    }*/
    .header__logo {
        order: 1;
        flex: 1 0 50%;
    }
    
    .header__button {
        order: 2;
        flex: 1 0 50%;
        margin-top: 20px;
        justify-self: flex-end;
    }
    .header__menu{
        order: 3;
    }
}

@media (max-width:628px) {
    
    .header__container {
        flex-wrap: wrap;
        min-height: 120px;
        
    }

    .header__button {
        margin-top: 20px;
        flex: 1 1 100%;
        text-align: center;
    }

 
   
    .menu__list {
        flex-wrap: nowrap;
        
    }

    .header__logo {
        margin-top: 20px;
    }
    /*.header__logo_text{
        font-size: 20px;
    } */

    .header__menu {
        flex: 0 1 100%;
        font-size: 18px;
        margin-top: 40px;
        
    }

    
}

@media (max-width:446px) {

    .menu__list {
        flex-wrap: nowrap;
        margin-bottom: 15px;
    }

    .header__container {
        flex-wrap: wrap;
        min-height: 150px;
    }

    .header__menu {
        flex: 1 1 100%;
        margin-left: 0;
        font-size: 25px;
    }

    .header__img {
        width: 80%;
    }
    .header__button-sign-link {
        font-size: 16px;
        margin-left: 0;
    padding: 10px 0;
    }
   /*  .header__logo {
        order: 1;
        flex: 1 1 50%;
    }
    .header__menu{
        order: 3;
    }
    .header__button {
        order: 2;
        flex: 1 1 50%;
        margin-top: 20px;
        justify-self: flex-end;
    } */
}

/*-------------------------BUTTON--------------------------------*/
.button {
    display: block;
    background-color: #58A9A5;
    color: #ffffff;
    border-radius: 15px 15px 15px 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(28/18*100%);
    max-width: 200px;
    height: 60px;
    
    text-align: center;
}

.button:hover {
    background-color: #3c837f;
}



/*-------------------------TITLE--------------------------------*/
.title {
    font-weight: 800;
    font-size: 52px;
    line-height: calc(78/52*100%);
    color: #1C2323;
}

@media (max-width:1220px) {
    .title {
        font-size: 45px;
    }
}

@media (max-width:992px) {
    .title {
        font-size: 38px;
    }
}

@media (max-width:670px) {
    .title {
        font-size: 34px;
    }
}

@media (max-width:446px) {
    .title {
        font-size: 26px;
    }

}

/*-------------------------PAGE--------------------------------*/
.page {}

/*-------------------------MAIN-BLOCK--------------------------------*/

.page__main-block {}

.main-block {}

.main-block__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 130px;
}

.main-block__content-text {
    display: flex;
    flex-direction: column;
    flex: 0 1 45%;
}

.main-block__content-text>*:not(:last-child) {
    margin-bottom: 35px;
}

.main-block__title {}

.main-block__text {
    color: #404242;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(34/20*100%);
}

.main-block__button {
    padding: 16px 60px;
}

.main-block__content-image {
    flex: 1 1 50%;
    margin-left: 55px;
    height: 100%;
    width: 100%;
}

.main-block__content-image img {
    width: 100%;
    object-fit: contain;
}

@media (min-width:1220px) {
    .main-block__container {
        height: 600px;
    }

    .main-block__content-text {
        max-height: 90%;
    }
}

@media (max-width:1220px) {
    .main-block__content-image {
        margin-left: 35px;
    }

}

@media (max-width:870px) {

    .main-block__content-text {
        flex: 1 1 auto;
        text-align: center;
        padding: auto 25px auto 25px;
    }

    .main-block__content-image {
        margin: 0 auto;
        flex: 0 1 70%;
        height: 100%;
    }

    .button {
        margin: 0 auto;
    }

    .main-block__container>*:not(:last-child) {
        margin-bottom: 25px;
    }

    @media (max-width:680px) {
        .main-block__text {
            font-size: 16px;
        }

        .main-block__container {
            padding-bottom: 60px;
        }

    }

}

/*-------------------------HOW IT WORKS--------------------------------*/
.page__howitworks {}

.howitworks {}

.howitworks__container {}

.howitworks__title,
.howitworks__subtitle {
    text-align: center;
}

.howitworks__subtitle {
    margin-top: 15px;
    margin-bottom: 53px;
    color: #404242;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(34/20*100%);
    padding: 0 35px;
}

.howitworks__content-video {
    display: flex;
}

.howitworks__image {
    flex: 1 0 60%;
}

.howitworks__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.howitworks__text {
    padding-top: 53px;
    padding-left: 86px;
    padding-bottom: 67px;
    background-color: #CCF0E6;
    position: relative;
}

.howitworks__text p {
    color: #486958;
    font-weight: 500;
    font-size: 15px;
    line-height: calc(22/15*100%);
    max-width: 70%;
    margin-bottom: 33px;
}

.howitworks__text a {
    display: block;
}

.button-play {
    position: absolute;
    left: -10%;
    top: 48%;
    border: 10px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}

.howitworks__link-video {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #486958;
    letter-spacing: 2.5px;
}

.howitworks__link-video:hover {
    text-decoration: underline;
}

.howitworks__content-text {
    display: flex;
    margin-top: 113px;
}

.howitworks__img {
    flex: 1 0 45%;
    margin-right: 107px;

}

.howitworks__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.howitworks__info {}

.howitworks__info-subtitle {
    font-weight: 700;
    font-size: 30px;
    line-height: calc(45/30*100%);
    color: #1C2323;
    margin-bottom: 37.5px;
    width: 85%;
}

.howitworks__describe-text {
    width: 85%;
    font-weight: 500;
    font-size: 22.5px;
    line-height: calc(34/22.5*100%);
    color: #486958;
}

@media (max-width:992px) {
    .howitworks__content-text {
        flex-direction: column-reverse;
        margin-top: 50px;
        justify-content: center;
        padding: 15px 50px;
    }

    .howitworks__img {
        margin-right: 0px;
    }

    .howitworks__img,
    .howitworks__describe-text {
        margin-top: 15px;
    }

    .button-play {
        left: -13%;
        top: 59%;
    }
}

@media (min-width:680px) and (max-width:991px) {
    .button-play {
        left: -16%;
        top: 66%;
    }
}

@media (max-width:680px) {
    .howitworks__content-video {
        flex-direction: column-reverse;
    }

    .button-play {
        left: 73%;
        top: 48%;
        margin-right: 10px;
    }

    .howitworks__text p {
        font-size: 18px;
    }

}

@media (max-width:470px) {
    .button-play {
        left: 23%;
        top: 88%;
    }

    .howitworks__describe-text {
        font-size: 16px;
        width: 100%;
    }

    .howitworks__info-subtitle {
        font-size: 25px;
    }
}


/*-------------------------OUR PROJECT--------------------------------*/
.ourproject__container {
    padding-top: 90px;
}

.ourproject__title,
.ourproject__subtitle {
    text-align: center;
}

.ourproject__subtitle {
    padding: 0 25px;
    margin-top: 15px;
    margin-bottom: 27px;
    color: #404242;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(34/20*100%);
}

.ourproject__lines {}

.ourproject__line {

    margin: 11px auto 0 auto;
}

.line {
    width: 101.25px;
    height: 4px;
    background-color: #58A9A5;
}

.ourproject__item {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.item {
    flex: 0 1 28%;
}

.item__content {
    margin-bottom: 28px;
}

.item__title {
    font-weight: 700;
    font-size: 30px;
    line-height: calc(45/30*100%);
    color: #58A9A5;
    margin-bottom: 4px;
}

.item__text {
    font-weight: 500;
    font-size: 15px;
    line-height: calc(22/15*100%);
    color: #486958;
}


.item__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.item-reverse .item__content {
    margin-top: 28px;
}

@media (max-width:992px) {
    .ourproject__item {
        flex-wrap: wrap;
    }

    .item {
        flex: 0 1 45%;
    }

    .first-item {
        order: 1;
    }

    .second-item {
        order: 3;
    }

    .third-item {
        order: 2;
    }

    .item-reverse {
        flex: 0 1 75%;
        flex-direction: column;
        margin: 0 auto;
        padding: 25px 50px 0 50px;
        align-items: center;
    }


}

@media (max-width:672px) {
    .ourproject__container {
        padding-top: 50px;
    }

    .ourproject__item {
        margin-top: 30px;
    }

    .ourproject__subtitle {
        margin-bottom: 20px;
        padding: 0 35px;
    }

    .item {
        flex: 1 1 100%;
        padding: 0 25px;
    }

    .item:not(:last-child) {
        margin-bottom: 25px;
    }

    .first-item {
        order: 1;
    }

    .second-item {
        order: 2;
    }

    .third-item {
        order: 3;
    }

    .item__image {
        width: 100%;
        margin: 0 auto;
    }

    .ourproject__subtitle,
    .howitworks__subtitle {
        font-size: 18px;
    }

    .item__title {
        font-size: 22px;
        ;
    }
}

/*-------------------------TESTIMONIAL--------------------------------*/

.testimonial__container {
    padding-top: 100px;
}

.testimonial__title {
    text-align: center;
    margin-bottom: 20px;
}

.testimonial__brands {
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonial__img-logo {
    flex: 0 1 20%;
}

.testimonial__brands img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.testimonial__info {
    display: flex;
    margin-top: 40px;
}

.testimonial__image {
    flex: 1 0 45%;
}

.testimonial__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial__work-results {
    padding: 40px 100px;
    background-color: #CCF0E6;
}

.results-item {
    display: flex;
    justify-content: space-between;
}

.item-result {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
}

.item-result:not(:last-of-type) {
    margin-right: 10px;
    margin-bottom: 10px;
}

.item-result p:first-of-type {
    font-weight: 800;
    font-size: 52.5px;
    line-height: calc(79/52*100%);
    color: #58A9A5;

}

.item-result p:nth-of-type(2) {
    font-weight: 600;
    font-size: 22.5px;
    line-height: calc(34/22.5*100%);
    color: #58A9A5;

}

.testimonial__text {
    position: relative;
    display: flex;
    flex-direction: column;
}

.testimonial__quote {
    font-family: 'Port Lligat Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 225px;
    line-height: calc(241/225*100%);
    color: #FFFFFF;
    position: absolute;
    top: 5%;
    left: -5%;
    z-index: 0;
}

.testimonial__quote-content {
    font-weight: 500;
    font-size: 18.75px;
    line-height: calc(28/18.75*100%);
    color: #486958;
    margin-top: 92px;
    flex: 1 1 auto;
    z-index: 999;
}

.testimonial__quote-author {
    font-style: italic;
    font-weight: 500;
    font-size: 18.75px;
    line-height: calc(28/18.75*100%);
    color: #58A9A5;
    margin-top: 20px;
}


@media (max-width:992px) {
    .item-result p:first-of-type {
        font-weight: 700;
        font-size: 42.5px;

    }

    .item-result p:nth-of-type(2) {
        font-weight: 600;
        font-size: 20px;
        line-height: calc(34/22.5*100%);
        color: #58A9A5;

    }



    .testimonial__work-results {
        padding: 40px 60px;
    }

    .testimonial__quote {
        left: -6%;
    }
}

@media (max-width:672px) {
    .testimonial__container {
        padding-top: 80px;
    }

    .testimonial__brands {
        flex-wrap: wrap;
    }

    .testimonial__info {
        flex-direction: column;
    }

    .testimonial__work-results {
        flex: 1 1 100%;
    }

    .testimonial__quote {
        left: -8%;
    }

}

@media (max-width:478px) {
    .testimonial__container {
        padding-top: 65px;
    }

    .testimonial__work-results {
        padding: 40px;
        flex: 1 1 100%;
    }

    .testimonial__img-logo {
        flex: 0 1 45%;
    }

    .testimonial__title {
        margin-bottom: 0;
    }

    .testimonial__quote {
        font-size: 200px;
        top: 9%;
        left: -9%;
    }

    .testimonial__quote-content {
        font-weight: 400;
        font-size: 16px;
    }

    .testimonial__quote-author {
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
    }

    .item-result {
        flex-direction: row;
        align-items: center;
        flex: 1 1 100%;
        justify-content: flex-start;
    }

    .item-result__count {
        flex: 0 0 50%;
        align-items: flex-start;
    }


    .item-result p:first-of-type {
        font-weight: 800;
        font-size: 42px;
        margin-right: 10px;
    }


    .item-result p:nth-of-type(2) {
        font-weight: 600;
        font-size: 16px;

    }

    .results-item {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .item-result:not(:last-of-type) {
        margin-bottom: 15px;
        margin-right: 5px;
    }

}

/*-------------------------CONTACT US--------------------------------*/

.contactus__container {
    display: flex;
    padding-top: 180px;
    margin-bottom: 250px;
}

.contactus__text {
    flex: 0 1 30%;
    margin-right: 78px;
}

.contactus__title {
    margin-bottom: 10px;
}

.contactus__question {
    margin-bottom: 29px;
    font-weight: 500;
    font-size: 18.75px;
    line-height: calc(28/18.75*100%);
    color: #486958;
}

.contactus__line:not(:last-of-type) {
    margin-bottom: 11px;
}
.contactus__form {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 41px;
    border: 0.75px solid #486958;
}
.contactus__input {
    width: 100%;
    padding-bottom: 19.25px;
    padding-top: 43px;
    font-weight: 500;
font-size: 18.75px;
line-height: calc(28/18.75*100%);
color: #486958;

}
.contactus__input:not(:last-of-type){
    border-bottom: 0.75px solid #000000;
}
.contactus__input_description{
    flex: 1 1 auto;
    padding-top: 27.75px;
    padding-bottom: 15.5px;
}
.contactus__button {
    margin-bottom: 26.25px;
    align-self: flex-end;
    padding: 16px 55px;
}
@media (max-width:992px) {
    .contactus__container {
        flex-wrap: wrap;
        padding-top: 100px;
        margin-bottom: 50px;
    }
    .contactus__text {
        flex: 1 1 100%;
        margin-right: 78px;
        margin-bottom: 35px;
    }
   
}
@media (max-width:872px) {
    .contactus__input_description{
        padding-bottom: 50px;
    }
    .contactus__container {
        margin-bottom: 25px;
}
}
